
<div class="collapse-buttons">
    <button @onclick="OnLeftButtonClicked" class="collapse-button" title="@LeftButtonTitle context">
        @if (LeftIsOpen)
        {
            <i class="oi oi-chevron-left"></i>
        }
        else
        {
            <i class="oi oi-chevron-right"></i>
        }
    </button>

    <button @onclick="OnRightButtonClicked" class="collapse-button" title="@RightButtonTitle context">
        @if (!RightIsOpen)
        {
            <i class="oi oi-chevron-left"></i>
        }
        else
        {
            <i class="oi oi-chevron-right"></i>
        }
    </button>

</div>

@code {
    [Parameter]
    public EventCallback OnLeftButtonClicked { get; set; }

    [Parameter]
    public EventCallback OnRightButtonClicked { get; set; }

    [Parameter]
    public bool LeftIsOpen { get; set; }

    [Parameter]
    public bool RightIsOpen { get; set; }


    public string LeftButtonTitle => LeftIsOpen ? "hide" : "show";

    public string RightButtonTitle => RightIsOpen ? "hide" : "show";
}
