@page "/"

<div class="px-4">
    <PageTitle>Azure Cognitive Services Example App</PageTitle>

    <h1>Azure Cognitive Services Examples</h1>

    Simple site to demonstrate the usage of the Azure.CognitiveServices.Client


    <NavLink class="nav-link" href="textCompletion">
        <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Text Completion
    </NavLink>
      <NavLink class="nav-link" href="chat">
        <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Chat
    </NavLink>

</div>